{% extends "base.html" %}

{% block content %}






<div id="inner_banner" class="section inner_banner_section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="title-holder">
            <div class="title-holder-cell text-left">
              <h1 class="page-title">Predictions</h1>
              <ol class="breadcrumb">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Predictions</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>






<br/>
<br/>
<br/>
<br/>
<br/>

<div class="row justify-content-center mt-5">
  <div class="col-md-7 text-center">
          <br>
          <br>
          <br>
          <br>
          <br>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="main_heading text_align_center">
              <h2 class="text-success">Prediction Accuracy of Auction </h2>
            </div>
          </div>

         
  
  </div>

  <img src="data:image/png;base64,{{ data1 }}" alt="" height="700" ,width="500">
</div>

<br>
<br>
<br>
<br>
<br>


{% endblock %}
