{% extends "base.html" %}

{% block content %}

<div id="inner_banner" class="section inner_banner_section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="full">
            <div class="title-holder">
              <div class="title-holder-cell text-left">
                <h1 class="page-title">{{ user.username }}</h1>
                <ol class="breadcrumb">
                  <li><a href="{% url 'home' %}">Home</a></li>
                  <li class="active">My Profile</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="section padding_layout_1">
    <div class="container">
      <div class="row">
        <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-xs-12"></div>
        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
          <div class="row">
            <div class="full">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="main_heading text_align_center">
                  <h2>{{ user.username }}</h2>
                </div>
              </div>
              <div class="contact_information">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 adress_cont">
                  <div class="information_bottom text_align_center">
                    <div class="icon_bottom"> <i class="fa fa-road" aria-hidden="true"></i> </div>
                    <div class="info_cont">
                      <h4>Address</h4>
                      <p>{{ user.userprofile.Address }}</p>
                      <p>Postal Code:- {{ user.userprofile.Zipcode }}</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 adress_cont">
                  <div class="information_bottom text_align_center">
                    <div class="icon_bottom"> <i class="fa fa-user" aria-hidden="true"></i> </div>
                    <div class="info_cont">
                      <h4>Contact</h4>
                      <p>{{ user.userprofile.Contact }}</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 adress_cont">
                  <div class="information_bottom text_align_center">
                    <div class="icon_bottom"> <i class="fa fa-envelope" aria-hidden="true"></i> </div>
                    <div class="info_cont">
                      <h4>Email</h4>
                      <p>{{ user.email }}</p>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="main_heading text_align_center">
                  <h2>Location</h2>
                </div>
                <div class="form_section">
                  <div id="map" class="text_align_center"  style="width:800px;height:400px;"></div>
                    <script>
                    // Note: This example requires that you consent to location sharing when
                    // prompted by your browser. If you see the error "The Geolocation service
                    // failed.", it means you probably did not give permission for the browser to
                    // locate you.
                    var map, infoWindow;
                    function initMap() {
                        map = new google.maps.Map(document.getElementById('map'), {
                        center: {lat: -34.397, lng: 150.644},
                        zoom: 12
                        });
                        infoWindow = new google.maps.InfoWindow;

                        // Try HTML5 geolocation.
                        if (navigator.geolocation) {
                        navigator.geolocation.getCurrentPosition(function(position) {
                            var pos = {
                            lat: "{{ user.userprofile.latitiude }}",
                            lng: "{{ user.userprofile.logitude }}"
                            };

                            infoWindow.setPosition(pos);
                            infoWindow.setContent('Location found.');
                            infoWindow.open(map);
                            map.setCenter(pos);
                        }, function() {
                            handleLocationError(true, infoWindow, map.getCenter());
                        });
                        } else {
                        // Browser doesn't support Geolocation
                        handleLocationError(false, infoWindow, map.getCenter());
                        }
                    }

                    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
                        infoWindow.setPosition(pos);
                        infoWindow.setContent(browserHasGeolocation ?
                                            'Error: The Geolocation service failed.' :
                                            'Error: Your browser doesn\'t support geolocation.');
                        infoWindow.open(map);
                    }
                    </script>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

 
                <script>
                // Note: This example requires that you consent to location sharing when
                // prompted by your browser. If you see the error "The Geolocation service
                // failed.", it means you probably did not give permission for the browser to
                // locate you.
                var map, infoWindow;
                function initMap() {
                    map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: -34.397, lng: 150.644},
                    zoom: 12
                    });
                    infoWindow = new google.maps.InfoWindow;

                    // Try HTML5 geolocation.
                    if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function(position) {
                        var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                        };

                        infoWindow.setPosition(pos);
                        infoWindow.setContent('Location found.');
                        infoWindow.open(map);
                        map.setCenter(pos);
                    }, function() {
                        handleLocationError(true, infoWindow, map.getCenter());
                    });
                    } else {
                    // Browser doesn't support Geolocation
                    handleLocationError(false, infoWindow, map.getCenter());
                    }
                }

                function handleLocationError(browserHasGeolocation, infoWindow, pos) {
                    infoWindow.setPosition(pos);
                    infoWindow.setContent(browserHasGeolocation ?
                                        'Error: The Geolocation service failed.' :
                                        'Error: Your browser doesn\'t support geolocation.');
                    infoWindow.open(map);
                }
                </script>
                <script defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBYO0nlp0_wLbU0F6S0KSX_mwHbfu-1Is&callback=initMap">
                </script>

</br>  
</br>
</br>
</br>
</br>     

 


<div class="text-center">
    
    <a href="{% url 'UpdateProfile' %}" > <button type="submit" class="btn btn-primary button">Edit Profile</button> </a>
</div>
         
{% endblock %}
