{% extends "base.html" %}

{% block content %}


<head>
  <style type="text/css">
    #map{ width:700px; height: 500px; }
  </style>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
  <title>Save Marker Example</title>
  <script>
  //Set up some of our variables.
var map; //Will contain map object.
var marker = false; ////Has the user plotted their location marker?

//Function called to initialize / create the map.
//This is called when the page has loaded.
function initMap() {

//The center location of our map.
var centerOfMap = new google.maps.LatLng(7.161760600000001, 80.12462289999999);

//Map options.
var options = {
center: centerOfMap, //Set center.
zoom: 7 //The zoom value.
};

//Create the map object.
map = new google.maps.Map(document.getElementById('map'), options);

//Listen for any clicks on the map.
google.maps.event.addListener(map, 'click', function(event) {
//Get the location that the user clicked.
var clickedLocation = event.latLng;
//If the marker hasn't been added.
if(marker === false){
  //Create the marker.
  marker = new google.maps.Marker({
      position: clickedLocation,
      map: map,
      draggable: true //make it draggable
  });
  //Listen for drag events!
  google.maps.event.addListener(marker, 'dragend', function(event){
      markerLocation();
  });
} else{
  //Marker has already been added, so just change its location.
  marker.setPosition(clickedLocation);
}
//Get the marker's location.
markerLocation();
});
}

//This function will get the marker's current location and then add the lat/long
//values to our textfields so that we can save the location.
function markerLocation(){
//Get location.
var currentLocation = marker.getPosition();
//Add lat and lng values to a field that we can save.
document.getElementById('lat').value = currentLocation.lat(); //latitude
document.getElementById('lng').value = currentLocation.lng(); //longitude
}


//Load the map when the page has finished loading.
google.maps.event.addDomListener(window, 'load', initMap);
</script>



</head>




<div id="inner_banner" class="section inner_banner_section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="full">
            <div class="title-holder">
              <div class="title-holder-cell text-left">
                <h1 class="page-title">Update Profile</h1>
                <ol class="breadcrumb">
                  <li><a href="{% url 'home' %}">Home</a></li>
                  <li class="active">Update Profile</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>


<div class="row justify-content-center mt-5">

      
        <div class="col-md-5">

          <br/>     
          <br/>      
          <br/>     
          <br/>     
          <br/>
            {% if error %}
                <br/>
                <br/>
                <br/>
                <br/>
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="Self_description">Self description</label>
                    <input type="text" name="Self_description" class="form-control" id="Self_description">
                    <small id="usernameHelp" class="form-text text-muted">Your can add your contact details in here.</small>
                </div>
                <div class="form-group">
                    <label for="Contact">Contact</label>
                    <input type="text" name="Contact" class="form-control" id="Contact" >
                   
                </div>

                <div class="form-group">
                    <label for="Zipcode">Zipcode</label>
                    <input type="text" name="Zipcode" class="form-control" id="Zipcode" >
                   
                </div>

                <div class="form-group">
                    <label for="Address">Address</label>
                    <input type="text" name="Address" class="form-control" id="Address" >
                   
                </div>

                <div class="form-group">
                    
                    <label for="latitude" >latitude:- <p id="latitude"></p></label>
                    <input type="text" name="latitude" id="lat" >
                    

                </div>

                <div class="form-group">
                    
                    <label for="logitude">logitude:-<p id="logitude"></p></label>
                    <input type="text" name="logitude"  id="lng" >
                   
                  

                    
                   
                </div>
                <button type="submit" class="btn btn-primary button">Update Profile</button>
            </form>

             </br>
             </br>
             </br>
             </br>

            <p>Click the button to get your current coordinates.</p>
            <button onclick="initGeolocation()" class="btn sqaure_bt">Try It</button>
            
            </br>
            </br>
            </br>
            
            
            

            <br/>
            <br/>

            <script type="text/javascript">
              function initGeolocation()
              {
                 if( navigator.geolocation )
                 {
                    // Call getCurrentPosition with success and failure callbacks
                    navigator.geolocation.getCurrentPosition( success, fail );
                 }
                 else
                 {
                    alert("Sorry, your browser does not support geolocation services.");
                 }
              }
         
              function success(position)
              {
         
                  document.getElementById('lng').value = position.coords.longitude;
                  document.getElementById('lat').value = position.coords.latitude
              }
         
              function fail()
              {
                 // Could not obtain location
              }
         
            </script>  
            
            
            

            


            
        </div>
        <div id="map" class="row d-flex justify-content-center" style="width:800px;height:400px;"></div>
</div>
{% endblock %}
